html{
	font-family: Arial,Helvetica,Helvetica,sans-serif;
	background:url(../images/1920x1080_wallpaper.jpg) no-repeat center center fixed;
	background-size: cover;
}
/*video{  
	position: fixed; 
	right: 0; 
	bottom: 0; 
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto; 
}*/
body{
	width:100%;
	margin:0px;
}
/*@font-face {
  font-family: "FontAwesome";
  src: url('fonts/fontawesome-webfont.eot');
  src: url('fonts/fontawesome-webfont.eot?#iefix') format('eot'),
       url('fonts/fontawesome-webfont.woff') format('woff'), 
       url('fonts/fontawesome-webfont.ttf') format('truetype'), 
       url('fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
a {
    text-decoration: none;
}
#skipPlayer{
	position: absolute;
	bottom:15%;
	right: 50px;
	color:white;

}
#skipPlayer:hover{
	color:gray;
}
a {
  position: relative;
  color: white;
  text-decoration: none;
}

#skipPlayer a:hover {
  color: white;
}
#skipPlayer a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#skipPlayer a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.jp-video {
    margin: 0 auto;
    position: relative;
    font-family: Arial, sans-serif;
    background: black;
}
/*.jp-stop{
	position:absolute;
}*/
.jp-video-270p {
    width: 100%;
}
.jp-title h1 {
	font-size: 1em;
	text-align: center;
	color: #555;
}
.jp-video-play {
    font-family: "FontAwesome";
    position: absolute;
    top: 45%;
    left: 46%;
}
.jp-video-play a {
    font-size: 2em;
    color: rgba(255,255,255,.7);
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 55px;
    text-align: center;
    background-color: rgba(0,0,0,.8);
    border-radius: 5px;
}
.jp-interface {
    width:100%;
/*    bottom:0;*/
/*    position: absolute;*/
    background: #f34927;
    background: -moz-linear-gradient(top,  #f34927 0%, #dd3311 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f34927), color-stop(100%,#dd3311));
    background: -webkit-linear-gradient(top,  #f34927 0%,#dd3311 100%);
    background: -o-linear-gradient(top,  #f34927 0%,#dd3311 100%);
    background: -ms-linear-gradient(top,  #f34927 0%,#dd3311 100%);
    background: linear-gradient(to bottom,  #f34927 0%,#dd3311 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f34927', endColorstr='#dd3311',GradientType=0 );
    overflow: hidden;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1); 
}
 
.jp-interface a {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}
.jp-controls, .jp-toggles {
    padding: 0;
    margin: 0; 
    font-family: "FontAwesome"
}
.jp-toggles {
    position: absolute;
    top: 14px;
    right: 14px;
}
.jp-controls li, .jp-toggles li {
    display: inline;
}
.jp-play,.jp-pause {
    width: 55px;
    height: 40px;
    display: inline-block;
    text-align: center;

}
.jp-play{

}
.jp-mute,.jp-unmute {
    position: absolute;
    right: 85px;
    top: 0;
    width: 20px;
    height: 40px;
    display: inline-block;
    line-height: 43px;
}
.jp-progress {
    background-color: #992E18;
    overflow: hidden;
    position: absolute;
    bottom: 10%;
    width: 100%;
    height:2 px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2) inset;
}
.jp-play-bar {
    height: 12px;
    background-color: #fff;
}
.jp-volume-bar {
    position: absolute;
    right: 40px;
    top: 16px;
    width: 45px;
    height: 8px;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
    background-color: #992E18;
    overflow: hidden;
}
.jp-volume-bar-value {
    background-color: #fff;
    height: 8px;
    border-radius: 20px 20px 20px 20px;
}
.jp-current-time {
    color: #FFF;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    right: 115px;
    top: 13px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}

.jp-video-full {
    /* Rules for IE6 (full-screen) */
    width:480px;
    height:270px;
    /* Rules for IE7 (full-screen) - Otherwise the relative container causes other page items that are not position:static (default) to appear over the video/gui. */
    position:static !important; 
    position:relative;
}
/* The z-index rule is defined in this manner to enable Popcorn plugins that add overlays to video area. EG. Subtitles. */
.jp-video-full div div {
    z-index:1000;
}
.jp-video-full .jp-jplayer {
    top: 0;
    left: 0;
    position: fixed !important; 
    position: relative; /* Rules for IE6 (full-screen) */
    overflow: hidden;
}
.jp-video-full .jp-interface {
    position: absolute !important;
    position: relative; /* Rules for IE6 (full-screen) */
    bottom: 0;
    left: 0;
}
.jp-video-full .jp-gui {
    position: fixed !important; 
    position: static; /* Rules for IE6 (full-screen) */
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:1001; /* 1 layer above the others. */
}
 
.jp-video-full .jp-video-play a {
    font-size: 3em;
    height: 80px;
    width: 80px;
    line-height: 95px;
}
.jp-video-full .jp-progress {
    width: 83%;
}
.jp-interface >.jp-controls-holder li >.jp-play{

/*		    margin:0 auto;
 	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid white;
	border-bottom: 25px solid transparent;*/
}
/*.jp-pause, .jp-play{	
	position: absolute;

}*/
.jp-play, .jp-pause{
    height: 40px;
    width: 65px;    
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: absolute;
    top: 48%;
    left: 48%;

}

.jp-play:hover, .jp-pause:hover {
    background-color: rgba(0, 173, 239, 0.9);
}
#sample-textbox{
	padding: 25px;
	display: block;
	background:black;
	color: white;
	width: 400px;
	top: 173px;
	left: 825px;
	height: 360px;
	position:absolute;
	opacity: 0.7;
}

#tos-button{
	background:black;
	color: white;
	width: 150px;
	top: 600px;
	left: 1115px;
	height: 20px;
	position:absolute;
	text-align: center;
	padding: 5px;
	opacity: 0.7;
}
#tos-button:hover{
	background:gray;
}
/*.jp-play:after, {
    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 24px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}*/
/*.jp-pause:after{
	    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 24px;
    margin: 0 auto;
    text-align: center;

}*/
#pause-icon{
	border-color: white;
	position: absolute;
	width: 7px;
    height: 20px;
    border-right: 7px solid white;
    border-left: 7px solid white;
    top: 11px;
   	left: 21px;
}
#play-icon{
	    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 24px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

/*.jp-video-270p .jp-type-single {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}*/